<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-header></app-header>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img class="hotelImg" alt="Angular Logo" src="../assets/hotel-lobby.jpg">
</div>
<app-hotel-home></app-hotel-home>

