<div class="container">
  <div class="topContainer">
  <div class="menuTab tab">
      <div>Select Menu</div>
      <div>
        <select class="browser-default custom-select" [(ngModel)]="selectedMenu" (ngModelChange)="menuSelect(selectedMenu)">
          <option selected>Open this select menu</option>
          <option *ngFor="let menus of menu;" value="{{menus.name}}">{{ menus.name }}</option>
        </select>
      </div>
  </div>
  <div class="tableTab tab">
      <div>Select Tables</div>
      <div>
        <select class="browser-default custom-select" [(ngModel)]="selectedTable" (ngModelChange)="tableSelect()">
          <option selected>Open this select Tables</option>
          <option *ngFor="let tables of Tables;" value="{{tables.Tableid}}">{{ tables.Tableid }}</option>
        </select>
      </div>
  </div>
  <div class="mgrTab tab">
      <div>Select Managers</div>
      <div>
        <select class="browser-default custom-select" [(ngModel)]="selectedManager" (ngModelChange)="selectedManagerVal()">
          <option selected>Open this select Managers</option>
          <option *ngFor="let menuitems of Managers;" value="{{ menuitems.name }}">{{ menuitems.name }}</option>
        </select>
      </div>
  </div>
  <div class="chefTab tab">
      <div>Select Chef</div>
      <div>
        <select class="browser-default custom-select" [(ngModel)]="selectedChef" (ngModelChange)="selectedChefsVal()">
          <option selected>Open this select Chef</option>
          <option *ngFor="let menuitems of Chefs;" value="{{ menuitems.name }}">{{ menuitems.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="topContainer">
    <div>
      <button class="goBtn" (click)="selectedValues()">Go</button>
    </div>
    <div *ngIf="show" class="tableContent">
      <div class="tableHeader">
        <div class="tableTab tab">Menu</div>
        <div class="tableTab tab">Table</div>
        <div class="tableTab tab">Managers</div>
        <div class="tableTab tab">Chef</div>
      </div>
      <div *ngFor="let item of this.selectedArr" class="tableBody">
        <div class="tableTab tab">{{item['menu']}}</div>
        <div class="tableTab tab">{{item['Tables']}}</div>
        <div class="tableTab tab">{{item['Managers']}}</div>
        <div class="tableTab tab">{{item['Chefs']}}</div>
        </div>
    </div>
  </div>
  <div class="bottomContainer">
  </div>
</div>
