.container {
  position: relative;
  top: 200px;
  font-family: cursive;
}
.topContainer {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 10%;
}
.tab {
  float: left;
  width: 25%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.tab select {
  font-family: cursive;
}
button.goBtn {
  float: right;
  margin-right: 11%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tableContent {
  clear: both;
}
.tableHeader .tab {
  border: 1px solid;
  background-color: #c3c3c3;
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
  font-size: 15px;
}
.tableBody .tab {
  border: 1px solid;
  text-align: center;
  font-family: cursive;
  font-size: 13;
}
